/* Navbar.css */
.navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #411aee;
      padding: 0.3rem 0.3rem;
    }
    
    .navbar .logo a {
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    .nav-links {
      display: flex;
      list-style: none;
    }
    
    .nav-links li {
      margin-left: 2rem;
    }
    
    .nav-links a {
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
    }
    
    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
    }
    
    .hamburger .bar {
      width: 25px;
      /* height: 3px; */
      margin: 4px 0;
      background-color: #fff;
    }
    
    @media screen and (max-width: 768px) {
      .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
      }
    
      .nav-links.active {
        display: flex;
      }
    
      .nav-links li {
        margin: 1rem 0;
      }
    
      .hamburger {
        display: flex;
      }
    }
    
    /* CSS */
    .button-33 {
      background-color: #c2fbd7;
      border-radius: 100px;
      box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
      color: green;
      cursor: pointer;
      display: inline-block;
      font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
      padding: 7px 20px;
      text-align: center;
      text-decoration: none;
      transition: all 250ms;
      border: 0;
      font-size: 16px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-33:hover {
      box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
      transform: scale(1.05) rotate(-1deg);
    }